body{

font-family: Arial;
text-align:center;
background:#222;
color:white;

}


.game{

margin:50px;

}


button{

padding:15px;
margin:10px;
font-size:20px;
cursor:pointer;
border-radius:10px;

}


.score{

background:white;
color:black;
padding:20px;
width:250px;
margin:auto;
border-radius:15px;

}


li{

list-style:none;
margin:10px;

}